{% extends 'base_dashboard.html'%} 

{% block content %}
<div class="container-fluid">
    <div class="row">
 
        <div class="col-md-6">
            <h1>Employés</h1>
            
           </div> 
            
            <nav>
             <div class="section">
               <div class="row">
                   <div class="col">
                       <a href="{% url 'authentification.listes_rh' %}" >
                           <i class="fas fa-list"></i><h6 class="ml-1">liste</h6>
                       </a>  
           
                   </div>
                   <div class="col">
                       <a href="{% url 'authentification.absences_rh' %}" class='active'>
                           <i class="far fa-calendar-times"></i><h6 class="ml-1">Absences</h6>
                       </a>
                   </div>
                   <div class="col">
                   <a href="{% url 'authentification.conges_rh' %}">
                       <i class="far fa-calendar-check"></i><h6 class="ml-1">Congés</h6>
                   </a>
                  </div>
                  <div class="col">
                   <a href="{% url 'authentification.suivi_horaire' %}">
                       <i class="far fa-clock"></i><h6 class="ml-1">Suivie haoraire</h6>
                   </a>
               </div>
                   <div class="col">
                   <a href="{% url 'authentification.contrat_attes' %}">
                       <i class="far fa-file-alt"></i><h6 class="ml-1">Contrat et Attestations </h6>
                   </a>
               </div>
                   
               </div>
           </div>

               
        </nav>
       

        </div>
     
    </div>
 
     <div class="row">
        <div class="col-md-6">
            <h4>Absences </h4>
        </div>
    </div>
       
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Date de la demande </th>
                <th>Date de debut</th>
                <th>Date de fin</th>
                <th>Type d'absences</th>
                <th>Statut</th>
                <th>Actions </th>
            </tr>
            
            <td> elie</td>
            <td>17/12/23 </td>
            <td>17/12/23 </td>
            <td> 17/12/23</td>
            <td>conges payes </td>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td>{{ utilisateur.name }}</td>
                    <td>{{ utilisateur.date_of_demand }}</td>
                    <td>{{ utilisateur.start_date}}</td>
                    <td>{{ utilisateur.end_date }}</td>
                    <td>{{ utilisateur.types_of_abscence }}</td>
                    <td>{{ utilisateur.status}}</td>
                    <td>
                        <a href="{% url 'edit_utilisateur' utilisateur.id %}">Modifier</a>
                        |
                        <a href="{% url 'delete_utilisateur' utilisateur.id %}">Supprimer</a>
                        |

                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
  </div>


{% endblock %}  