{% extends 'base_dashboard.html'%}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between">
        <div class="col-md-6">
            <span class="left-align">    
                <a href="{% url 'authentification.edit_infos' %}" >
                    <i class="fas fa-edit purple-text"></i>
              
               informations personnelles 
                </a>
            </span>
        </div>
        <div class="col-md-6 text-right">
            <a href="{% url 'authentification.edit_password' %}" class="btn btn-primary" >
                <i class="fas fa-edit "></i>
          mot de passe 
            </a>
        </div>
    </div>
    
    <div class="section">
        <div class="modal-footer">
            <h5> mot de passe</h5>
            <form action="{% url 'authentification.edit_password' %}" method="post">
                {% csrf_token %}
                
                <label for="ancien_mot_de_passe">Ancien mot de passe :</label>
                <input type="password" name="ancien_mot_de_passe" required>

                <label for="nouveau_mot_de_passe">Nouveau mot de passe :</label>
                <input type="password" name="nouveau_mot_de_passe" required>

                <label for="confirmer_nouveau_mot_de_passe">Confirmer le nouveau mot de passe :</label>
                <input type="password" name="confirmer_nouveau_mot_de_passe" required>

                <br>
                <button type="submit">Mettre à jour le mot de passe</button>
            </form>
        </div>
    </div>
    
</div>

{% endblock %}