{% extends 'base_dashboard.html'%} 
{% block content %}
<div class="container-fluid">
  <div class="row">
      <div class="col-md-6">
          <h1>Utilisateurs</h1>
      </div>
  </div>
     
  <table class="table">
      <thead>
          <tr>
              <th>Nom</th>
              <th>Rôle</th>
              <th>salaire</th>
              <th>date du paiement</th>
              <th>statut</th>
          </tr>
       <br>
          <td> elie</td>
          <td>developpeur </td>
          <td>100000 fr </td>
          <td> 17/12/23</td>
          
              <!-- Ajoutez ici un lien ou un bouton pour ajouter un nouvel employé -->
      </thead>
      <tbody>
          {% for employee in employees %}
              <tr>
                  <td>{{ employee.name }}</td>
                  <td>{{ employee.role }}</td>
                  <td>{{ employee.email }}</td>
                  <td>{{ employee.created_at }}</td>
                  <td>
                      <a href="{% url 'edit_employee' employee.id %}">Modifier</a>
                      |
                      <a href="{% url 'delete_employee' employee.id %}">Supprimer</a>
                      |
                      <a href="{% url 'delete_employee' employee.id %}">Supprimer</a>
                  </td>
              </tr>
          {% endfor %}
          
      </tbody>
  </table>
</div>
{% endblock %}  
