<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Résultats de la Recherche</title>
</head>
<body>

    <h1>Résultats de la Recherche</h1>

    {% if resultats %}
        <ul>
            {% for resultat in resultats %}
                <li>{{ resultat.username }} <!-- Affichez d'autres champs selon vos besoins --></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun résultat trouvé.</p>
    {% endif %}

</body>
</html>