{% extends 'base_dashboard.html'%} 

{% block content %}
<div class="container mt-5">
    <h1> Tâches</h1>
    <div class="col-md-6 text-right">
        <button type="button" class="btn btn-link float-right mt-3" data-toggle="modal" data-target="#exampleModal">
            Ajouter une tâche
        </button>
    </div>
    
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Tâches</th>
                <th>Durée (heures)</th>
                <th>Priorité</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            <!-- Exemple de données -->
            <tr>
                <td>2023-01-01</td>
                <td>Faire la documentation</td>
                <td>4</td>
                <td>Haute</td>
                <td>En cours</td>
            </tr>
            <!-- Ajoutez d'autres lignes pour chaque tâche -->
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Nouvel ajout</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>



<form id="addTaskForm" method="post" action="{% url 'authentification.ajouter_tache' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="date">Date</label>
        <input type="date" class="form-control" id="date" name="date" required>
    </div>
    <div class="mb-3">
        <label for="task">Tâches</label>
        <input type="text" class="form-control" id="task" name="task" required>
    </div>
    <div class="mb-3">
        <label for="duration">Durée (heures)</label>
        <input type="number" class="form-control" id="duration" name="duration" required>
    </div>
    <div class="mb-3">
        <label for="priority">Priorité</label>
        <select class="form-control" id="priority" name="priority" required>
            <option value="Haute">Haute</option>
            <option value="Moyenne">Moyenne</option>
            <option value="Basse">Basse</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="status">Statut</label>
        <select class="form-control" id="status" name="status" required>
            <option value="En cours">En cours</option>
            <option value="Terminé">Terminé</option>
            <option value="En attente">En attente</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
</form>
</div>
</div>
</div>



{% endblock %}  