{% extends 'base.html'%} 

{% block title %}Page des utilisateurs {% endblock %}

{% block content %} 

<h2>Tableau des Utilisateurs</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nom utilisateur</th>
        <th>Email</th>
        <th>Date d'embauche</th>
        <th>Salaire</th>
        <th>Adresse</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.date_of_hire}}</td>
          <td>{{ user.salary}}</td>
          <td>{{ user.address}}</td>
          <td>
            <a href="#"><button type="button">Modifier</button></a>
            <a href="#"><button type="button">Supprimer</button></a>
            <a href="#"><button type="button">Ajouter un rôle</button></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}  

